:root {
    --bg-color: #fff;
    --bg-color-posts: var(--bg-color);
    --bg-color-highlight: #ccc;
    --txt-color: #000;
    --link-color: #0b0;
    --link-color-hover: #090;

    --navbar-color: #03a;
    --navbar-hover-color: #0af;
    --navbar-text-color: #fff;
    --navbar-hover-text-color: #03a;

    --max-width: 90vw;
}

[data-theme="light"] {
    --bg-color: #fff;
    --bg-color-posts: var(--bg-color);
    --bg-color-highlight: #ccc;
    --txt-color: #000;
    --link-color: #0b0;
    --link-color-hover: #090;
}

[data-theme="dark"] {
    --bg-color: #123;
    --bg-color-posts: var(--bg-color);
    --bg-color-highlight: #246;
    --txt-color: #fff;
    --link-color: #0f0;
    --link-color-hover: #0c0;
}

[data-theme="mite"] {
    --bg-color: linear-gradient(to bottom, #00b, #0060cc);
    --bg-color-posts: rgba(0, 0, 0, 0.25);
    --bg-color-highlight: #05b;
    --txt-color: #fff;
    --link-color: #0f0;
    --link-color-hover: #0c0;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    color: var(--txt-color);
    background: var(--bg-color);
    padding: 1.2rem;
    font-family: var(--bs-font-sans-serif);
    margin: 0 auto;
    font-size: 1.2rem;
    margin: auto;
    padding: 0;
    max-width: var(--max-width);
}

.title {
    font-size: 2.5em;
    margin: auto;
    padding: 0;
    padding-top: 1rem;
    overflow: hidden;
    max-width: var(--max-width);
    min-height: 80px;
}

p {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

.content {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

.darkmode-toggle {
    max-width: var(--max-width);
}

.darkmode-label {
    display: inline;
    font-weight: normal;
    max-width: var(--max-width);
    cursor: default;
}

.darkmode-checkbox {
    cursor: pointer;
}

/*Navbar*/

.is-sticking {
    max-width: 100vw !important;
    border-radius: 0px !important;
    scale: 1.11 1.11;
    z-index: 1000;
    height: 55px !important;
    max-height: 55px !important;
    padding-top: 2.5px !important;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    white-space: nowrap;
    margin: auto;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;  
    background-color: var(--navbar-color);
    max-width: var(--max-width);
    max-height: 50px;
    justify-content: left;
    border-radius: 4px;
    top: -1px;
    transition: all 100ms ease-in-out;
}

.custom-navbar {
    list-style-type: none;
    white-space: nowrap;
    margin: auto;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;
    background-color: var(--navbar-color);
    max-width: var(--max-width);
    max-height: 50px;
    justify-content: left;
    border-radius: 4px;
}

.navbar-item {
    display: inline;

}

.navbar-link {
    display: inline-block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    min-height: 45px;
}

.navbar-link:hover {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-hover-color);
    text-decoration: none;
    border-radius: 10px;
}

/*Accordion CSS has been moved to css/accordion.css */

/*Gallery*/
/*Moved to css/sass/gallery.css*/


/* Posts */

.posts {
    margin: auto;
    padding: 1.5%;
    max-width: var(--max-width);

    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-color-highlight);
    border-radius: 4px;

    background-color: var(--bg-color-posts);
}

blockquote {
    margin: auto;
    margin-left: 5%;
    margin-bottom: 3%;

    padding: 2.5px;
    max-width: var(--max-width);

    border-left-style: solid;
    border-left-width: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    border-color: var(--bg-color-highlight);
}

/* Other */

.social-namemc {
    margin-bottom: 5px;
}