:root {
    --bg-color: #fff;
    --bg-color-highlight: #ccc;
    --txt-color: #000;
    --link-color: #0b0;
    --link-color-hover: #090;

    --navbar-color: #00b;
    --navbar-hover-color: #0ff;
    --navbar-text-color: #fff;
    --navbar-hover-text-color: #000;

    --max-width: 50rem;
}

[data-theme="light"] {
    --bg-color: #fff;
    --bg-color-highlight: #ccc;
    --txt-color: #000;
    --link-color: #0b0;
    --link-color-hover: #090;
}

[data-theme="dark"] {
    --bg-color: #123;
    --bg-color-highlight: #246;
    --txt-color: #fff;
    --link-color: #0f0;
    --link-color-hover: #0c0;
}

[data-theme="mite"] {
    --bg-color: linear-gradient(to bottom, #00b, #0060cc);
    --bg-color-highlight: #05b;
    --txt-color: #fff;
    --link-color: #0f0;
    --link-color-hover: #0c0;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

@media screen and (max-width: 900px) {
    :root {
        --max-width: 90vw;
    }
}


body {
    color: var(--txt-color);
    background: var(--bg-color);
    padding: 1.2rem;
    font-family: var(--bs-font-sans-serif);
    margin: 0 auto;
    font-size: 1.2rem;
    margin: auto;
    padding: 0;
    max-width: var(--max-width);
}

.title {
    font-size: 2.5em;
    margin: auto;
    padding: 0;
    padding-top: 1rem;
    overflow: hidden;
    max-width: var(--max-width);
    min-height: 80px;
}

p {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

.content {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

.darkmode-toggle {
    margin: auto;
    padding: 10;
    max-width: var(--max-width);
}

.darkmode-label {
    display: inline;
    font-weight: normal;
    max-width: var(--max-width);
}

/*Navbar*/

.navbar {
    white-space: nowrap;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: var(--navbar-color);
    max-width: var(--max-width);
    max-height: 50px;
    justify-content: left;
    border-radius: 4px;
    
}

@media screen and (max-width: 900px) {
    .navbar {
        overflow-x: scroll;   
    }
}

.custom-navbar {
    list-style-type: none;
    white-space: nowrap;
    margin: auto;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;
    background-color: var(--navbar-color);
    max-width: var(--max-width);
    max-height: 50px;
    justify-content: left;
    border-radius: 4px;
}

.navbar-item {
    display: inline;

}

.navbar-link {
    display: inline-block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    min-height: 45px;
}

.navbar-link:hover {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-hover-color);
    text-decoration: none;
    border-radius: 10px;
}

/*Accordion CSS has been moved to css/accordion.css */

/*Gallery*/
div.gallery-container {
    margin: auto;
    padding: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: var(--max-width);
}

div.gallery {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 180px;
}

div.gallery:hover {
    background-color: var(--bg-color-highlight);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Posts */

.posts {
    margin: auto;
    padding: 1.5%;
    max-width: 75rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-color-highlight);
    border-radius: 4px;
}

blockquote {
    margin: auto;
    margin-left: 5%;
    margin-bottom: 3%;
    padding: 0;
    max-width: var(--max-width);
    border-left-style: solid;
    border-left-width: 5px;
    border-color: var(--bg-color-highlight);
}
