
.acc-btn {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.acc {
    margin: auto;
    padding: 0;
    color: #ffffff;
    margin-bottom: 3rem;
    max-width: 45rem;
}
   
.acc-label {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #00bbff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
   
   
.acc-label::after {
    content: '\002B';
    padding: 0.51rem;
    transform: scale(1.8);
    text-align: center;
    transition: all 0.35s;
}
   
.acc-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
    display: none;
}
input:checked + .acc-label {
    background: #0077bb;
}

input:checked + .acc-label::after {
    content: '\2013';
    transform: scale(1.5);
}
input:checked ~ .acc-content {
    max-height: 100vh;
    padding: 1em;
    display: block;
    transition: all 0.35s;
}