div.gallery-container {
    margin: auto;
    padding: 1%;
    overflow: hidden;
    max-width: 45rem;
}

div.gallery {
    margin: 0;
    padding: 0;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    background-color: #ccc;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}