:root {
    --bg-color: #fff;
    --bg-color-highlight: #ccc;
    --txt-color: #000;
    --link-color: #0b0;
    --link-color-hover: #090;

    --navbar-color: #00b;
    --navbar-hover-color: #0ff;
    --navbar-text-color: #fff;
    --navbar-hover-text-color: #000;

    --max-width: 75rem;
}

[data-theme="dark"] {
    --bg-color: #123;
    --bg-color-highlight: #246;
    --txt-color: #fff;
    --link-color: #0f0;
    --link-color-hover: #0c0;

    --navbar-color: #00b;
    --navbar-hover-color: #0ff;
    --navbar-text-color: #fff;
}


body {
    color: var(--txt-color);
    background: var(--bg-color);
    padding: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    font-size: 2rem;
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

.title {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

p {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

.content {
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: var(--max-width);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

.darkmode-toggle {
    margin: auto;
    padding: 0;
    max-width: var(--max-width);
}

.darkmode-label {
    display: inline;
    font-weight: light;
}

/*Navbar*/

.navbar {
    list-style-type: none;
    white-space: nowrap;
    margin: auto;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;
    background-color: var(--navbar-color);
    max-width: var(--max-width);
    max-height: 50px;
}

.navbar-item {
    display: inline;
}

.navbar-link {
    display: inline-block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none; 
    min-height: 45px;
}

.navbar-link:hover {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-hover-color);
    text-decoration: none;
    border-radius: 10px;
}

/*Accordion*/

.acc-btn {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.acc {
    margin: auto;
    padding: 0;
    color: --bg-color;
    margin-bottom: 3rem;
    max-width: var(--max-width);
}

.acc-label {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #0bf;
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    max-height: 6rem;
    text-decoration: none;
    border-radius: 4px;
}


.acc-label::after {
    content: '\23F7';
    padding: 0.51rem;
    transform: scale(1.8);
    text-align: center;
}

.acc-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--txt-color);
    background: var(--bg-color);
    display: none;
}

input:checked+.acc-label {
    background: #07b;
}

input:checked+.acc-label::after {
    content: '\23F6';
    transform: scale(1.5);
}

input:checked~.acc-content {
    max-height: 100vh;
    padding: 1em;
    display: block;
}

/*Gallery*/
div.gallery-container {
    margin: auto;
    padding: 1%;
    overflow: hidden;
    max-width: var(--max-width);
}

div.gallery {
    margin: 0;
    padding: 0;
    float: left;
    width: 180px;
}

div.gallery:hover {
    background-color: var(--bg-color-highlight);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Posts */

.posts {
    margin: auto;
    padding: 1.5%;
    max-width: 75rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-color-highlight);
    border-radius: 4px; 
}

blockquote {
    margin: auto;
    margin-left: 5%;
    margin-bottom: 3%;
    padding: 0;
    max-width: var(--max-width);
    border-left-style: solid;
    border-left-width: 5px;
    border-color: var(--bg-color-highlight);
}