<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/resources/favicon.png" />

        <title>TheBlueRuby - {{page.title}}</title>

        <meta name="description" content="A small website by TheBlueRuby" />

        <meta content="TheBlueRuby's Github Page - {{page.title}}" property="og:title" />
        <meta property="og:type" content="website" />
        <meta content="A small website by TheBlueRuby" property="og:description" />
        <meta content="https://theblueruby.github.io/" property="og:url" />
        <meta content="https://theblueruby.github.io/resources/banner.png" property="og:image" />
        <meta content="#00BBFF" name="theme-color" />
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

        <link rel="stylesheet" href="/css/old-browsers.css" />

        <h1 class="title">{{page.title}}</h1>
        <br />
        <h2 class="warning-for-new-browsers">Your browser seems to support FlexBoxes & Directional Overflow.<br> Visit <a href="http://theblueruby.github.io/">the main version of the site</a> for a better experience!</h2>
        <br>

        <!--Navbar-->
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <div class="navbar-link-container">
                    <ul class="navbar-nav">
                        <li class="nav-item nav-img">
                            <a href="/old-browsers/index.html" class="img-link">
                                <img src="/resources/favicon.png" width="45" height="45" alt="Go to Homepage" />
                            </a>
                        </li>
                            <li class="nav-item"><a class="navbar-link" href="/old-browsers/index.html">Home</a></li>
                            <li class="nav-item"><a class="navbar-link" href="/old-browsers/art/">Art</a></li>
                            <li class="nav-item"><a class="navbar-link" href="/old-browsers/posts/">Posts</a></li>
                            <li class="nav-item"><a class="navbar-link" href="/old-browsers/projects.html">Projects</a></li>
                            <li class="nav-item"><a class="navbar-link" href="/old-browsers/aboutme.html">About Me</a></li>
                            <li class="nav-item"><a class="navbar-link" href="https://github.com/TheBlueRuby/theblueruby.github.io/">Source</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <br />

        <!--Content goes here!-->
        <div id="main">{{content}}</main>
    </body>
</html>
